<div class="">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6">
          <form method="post" id="contact-form" action="" class="ae-form--full">
            <input type="text" placeholder="* Name" required name="nombre">
            <input type="email" placeholder="* Email" required name="email">
            <textarea placeholder="Message ..." cols="30" rows="4" name="mensaje"></textarea>
            <p class="au-xs-ta-right au-pt-4 group-buttons"><a href="#0" class="arrow-button arrow-button--right arrow-button--out">Enviar<span class="arrow-cont">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                  </svg></span></a></p>
          </form>
        </div>
    </div>
</div>
